body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: none;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.change-theme {
    position: fixed;
    top: 5px;
    left: 90px;
}

.hidden {
    display: none;
}

#get-light {
    top: 2px;
    font-size: 25px;
    color: rgb(248, 247, 159);
    text-align: center;
}

#get-night {
    font-size: 20px;
    color: rgb(61, 61, 59) !important;
    text-align: center;
    height: 30px;
}

.night {
    --primary-color: #ebe6e6;
    --primary-bakground: #424242;
    --header: rgb(78, 90, 117);
    --hint: rgb(112, 106, 106);
    --border: rgb(201, 195, 195);
    --terrain:  rgb(58, 126, 58);
}

.light {
    --primary-color: #4c4747;
    --primary-bakground: #cfc9cc;
    --header: rgb(78, 90, 117);
    --hint: rgb(172, 154, 154);
    --border: rgb(107, 97, 97);
    --terrain:  rgb(37, 97, 37);
}

body, html {
    background-color: var(--primary-bakground);
}

header {
    background-color: var(--header);
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
}

header p {
    position: relative;
}

header p:first-child {
    bottom: 15px;
    left: 8px;
    font-size: 20px;
    color: #eeeeee;
    font-weight: 800;
}

#help {
    font-weight: 800;
    right: 5px;
    top: -16px;
    position: fixed;
    font-size: 20px;
    color: var(--primary-color);
    background-color: rgb(69, 119, 67);
    width: 25px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}

#container {
    width: 300px;
    height: 400px;
    margin: 30px auto;
    text-align: center;
}

#game {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-template-rows: repeat(6, 50px);
    box-shadow: 8px 8px 8px 0 rgba(0, 2, 0, 0.4), 0 8px 20px 0 rgba(0, 0, 0, 0.29);
}

.sum {
    color: var(--primary-color);
    opacity: .6;
    margin-top:  -6px;
    margin-left: -6px;
    width: 18px;
    font-size: 12px;
}

.content {
    color:var(--primary-color);
    width: 20px;
    margin: auto;
    padding: 5px;
    font-weight: 600;
    font-size: 20px;
}

.item {
    background-color: var(--primary-bakground);
    border: 2px solid var(--border); 
    text-align: center;
    padding: 5px;
}

sub {
    position: relative;
    top: -5px;
    opacity: .8;
}

.digits {
    display: grid;
    width: 162px;
    height: 109px;
    padding: 3px;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(2, 50px);
    position: relative;
    top: -355px;
    gap: 3px;
    margin: 50px auto;
    background-color: var(--primary-bakground);
    box-shadow: 2px 5px 20px 5px rgba(1, 2, 2, 0.3), 15px 10px 20px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.digit {
    padding: 5px;
    background-color: var(--primary-bakground);
    color: var(--primary-color);
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border-radius: 15px;
    Outline: none;
}

.btn {
    text-align: center;
    font-size: 16px;
    margin: 10px auto;
    width: 80%;
    font-weight: 500;
    border-radius: 10px;
    display: inline-block;
    
    border: none;
    color: #eeeeee;
    outline: none;
}

#reset {
    background-color: rgb(153, 79, 79);
    width: 280px;
    position: fixed;
    bottom: 20px;
    height: 40px;
    font-size: 20px;;
    left: calc((100vw - 280px)/2);;
}

#finish-game {
    position: relative;
    border-radius: 8px;
    border-bottom: 8px solid var(--terrain);
    top: 400px;
    left: calc((100vw - 80px)/2);
    width: 60px;
    margin: auto;
    font-size: 35px !important;
    color: rgb(192, 176, 176);
    background-color: transparent;
}

#help-window {
    background-color: var(--primary-bakground);
    color: var(--primary-color);
    position: fixed;
    top: 40px;
    width: 100%;
    height: 100%;
    margin-right: 10px;
    left: 0;
    display: none;
    padding: 10px;
    word-wrap: break-word;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    z-index: 2000;
}

#help-window img {
    padding-top: 12px;
    width: 30%;
    height: auto;
}

a {
    text-decoration: none;
    color:rgb(100, 117, 158);
}

@media (max-width: 600px) {
    #help-window img {
        width: 50%;
    }
}

#help-window p:first-child {
    padding-top: 30px;
}

#levels {
    background-color:var(--primary-bakground);
    height: 100%;
    font-size: 15px;
    padding-top: 50px;
    text-align: center;
}

#levels h2 {
    color: rgb(100, 117, 158) !important;
}

#levels img {
    width: 100%;
    height: auto;
    opacity: .8;
}

@media (max-width: 530px) {
    #levels {
        width: 100%;
    }
    #levels-origin {
        padding: 10px;
        width: 80%;
        margin: auto;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    #levels img {
        width: 100%;
        height: auto;
        opacity: .8;

    }
}

@media (min-width: 530px) {
    #levels {
        width: 500px;
        margin: auto;
    }
    #levels-origin {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

.hint {
    background-color:var(--hint);
}

#result-game {
    text-align: center;
    font-weight: 800;
    font-size: 24px;
    position: relative;
    top: 65px;
    height: 100px;
    color: var(--primary-color);
}