body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #eeeeee;
    color: #424242;
}

h1 {
    text-align: center;
    color: #725e72;
    font-size: 38px;
}

/* .button {
    display: block;
    width: 180px;
    height: 50px;
    margin: auto;
    position: relative;
    top: 40px; 
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
} */

/* #result-game {
    padding: 15px;
    font-size: 35px;
    position: relative;
    width: 50%;
    margin: auto;
    text-align: center;
}

.btn-game {
    background-color: rgb(96, 149, 230);
    font-weight: bold ;
     margin-top: 50px;
    font-size: 18px;
} */

.game {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-template-rows: repeat(6, 50px);
    width: 300px;
    height: 350px;
    margin: 50px auto;
}

.item {
    background-color: rgb(231, 223, 223);
    border: 1px dashed rgb(115, 118, 119); 
}

sub {
    position: relative;
    top: -5px;
    opacity: .8;
}