body, html {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

#begin {
    background: url("https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center;
    background-size: cover;
    position: relative;
    height: 100%;
}

#gamePlace {
    margin: auto;
}

#title {
    text-align: center;
    color: #fff;
}

.button {
    display: block;
    width: 180px;
    height: 40px;
    margin: 10px;
    border: none;
    cursor: hand;
    font-size: 15px;
    color: #fff;
    border-radius: 10px;
}

.container {
    position: absolute;
    margin: auto;
    top: 50px;
    left: 20%;
    width: 60%;
}

.topBar {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
}

#playButton {
    background-color: #4481ba;

}

#levelButton {
    background-color: firebrick;
}

#helpButton {
    background-color: #602b24;
}
.part {
    display: none;
}

#topBar {
    margin-top: 0px;
}

#help {
    color: #424242;
    background-color: dimgrey;
}



table {
    border: 1px solid #424242;
    width: 100%;
}

input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 28px;
    color: #fff;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

table {
    width: 100%;
}

td {
    width: 33.33%;
    position: relative;
}

td:after {
    content: '';
    display: block;
    margin-top: 100%;
}

td .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#sum1 {
    color: #4481ba;
}

#sum2 {
    color: #92b789;
}

#sum3 {
    color: #602b24;
}

#sum4 {
    color: #b7758f;
}