
body, html {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    background: linear-gradient(90deg, rgb(175, 216, 216), #FFCCCC);
    color: #424242;
}


header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 22px;
    font-weight: bold;
    padding: 5px;
    font-size: 22px;
    background-color: #fff;
}

span {
    margin: 2px;
}

#title {
    text-align: center;
    margin-bottom: 120px;
    color: #725e72;
    font-size: 36px;
}

.button {
    display: block;
    width: 180px;
    height: 45px;
    margin: auto;
    margin-top: 18px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    border-radius: 20px;
    font-weight: bold;
}

#playButton {
    background-color: #bcc6cf;

}

#helpButton {
    background-color: #af9996;
}


.part {
    display: none;
}


#gamePlace {
    margin: auto;
}

.container {
    width: 60%;
    margin: auto;
}

#helpBack {
    background-color: dimgrey;
    color: #fff;
}

#help-text {
    font-size: 18px;
}

#demo {
    background-color: steelblue;
    color: #fff;
}

#game table {
    width: 100%;
    box-shadow: 0 20px 10px rgba(0,0,0,0.19), 0 6px 10px rgba(0,0,0,0.23);
}

#info-game {
    font-size: 22px;
    color: indianred;
    font-weight: bold;
    text-align: center;

}

#game input {
    width: 100%;
    height: 100%;
    border:none;
    font-size: 26px;
    color: #fff;
    text-align: center;
}

#game input[type=number]::-webkit-inner-spin-button,
#game input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


 td {
    width: 15%;
    position: relative;
    border: 0.3px dashed rgb(204, 204, 209);
}


td:after {
    content: '';
    display: block; 
    margin-top: 100%;
}

td .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#sum1 {
    color: #4481ba;
}

#sum2 {
    color: #92b789;
}

#sum3 {
    color: #602b24;
}

#sum4 {
    color: #b7758f;
}

#help h2 {
    text-align: center;
    height: 40px;
}


#demo-game-table tr td {
    border: 1px solid rebeccapurple;
    color: #424242;
    font-weight: bold;;
    text-align: center;
}

#demo-game-table .content {
    padding-top: 30%;;
    font-size: 18px;
}

#demo-game p {
    font-size: 18px;
    color: #424242;
    text-align: center;
}

#verify {
    background-color: indianred;
    font-weight: bold  ;
    margin-top: 50px;
    color: #f3e1e1;
}

.t11, .t12 {
    background-color: #FFDEAD;
}

.t21, .t31, .t32 {
    background-color: #ADD8E6;
}

.t22 {
    background-color: #20B2AA;
}

.t13, .t23, .t33 {
    background-color: #D3D3D3;
}


.next {
    background-color: #c4a5a5;
    color: #fff;
    display: none;
}

#finalDemoMessage {
    text-align: center;
    padding: 10px;
    font-size: 22px;
    display: none;
}
